<!DOCTYPE html >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>手机号码归属地查询</title>
    <link href="/static/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script src="/static/bootstrap.min.js"></script>
</head>
<body>
<h2 style="text-align: center" class="text-primary">手机归属地查询</h2>
<div style="text-align: center">
    <form action="{:url('Search/index')}" method="post" class="form-inline" role="form">
        <input type="text" name="m"  placeholder="手机号码" class="form-control">
        <input type="submit" value="查 询" class="btn btn-default" >
    </form>
</div>
<div style="position:relative">
    <ul class="list-group">
        <li class="list-group-item">所查号码：<span>{$num}</span>　
        <li class="list-group-item">归属省份：<span>{$res.showapi_res_body.prov}</span></li>
        <li class="list-group-item">归属城市：<span>{$res.showapi_res_body.city}</span></li>
        <li class="list-group-item">城市区号：<span>{$res.showapi_res_body.areaCode}</span></li>
        <li class="list-group-item">城市邮编：<span>{$res.showapi_res_body.postCode}</span></li>
        <li class="list-group-item">卡类型：  <span>{$res.showapi_res_body.name}</span></li>
        <li class="list-group-item">运营商：  <span>
         {switch name="res.showapi_res_body.type"}
        {case value="1"}中国移动{/case}
        {case value="2"}中国电信{/case}
        {case value="3"}中国联通{/case}
        {default /}暂无信息
         {/switch}
        </span> </li>
    </ul>
</div>
<div style="position: absolute;left: 45%;bottom: 10%">&copy;<a href="/">手机号码归属地查询</a></div>
</body>
</html>
